body {
  background-color: #27C2D0;
}

button {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

h1.title {
  font-family: 'Bungee Shade', cursive;
  color: #d027c3;
  font-size: 30px;
}

.battery{
  position: relative;
  margin: 0 auto;
  margin-top: 20%;
  width: 150px;
  border: 5px solid #d027c3;
  height: 50px;
  border-radius: 10px;
  text-align: center;
}

.battery:before{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  height: 44px;
  width: 0%;
  background-color: #d027c3;
  border-radius: 3px;
}

.battery:after{
  content: '';
  position: absolute;
  right: -13px;
  top: 14px;
  width: 10px;
  height: 25px;
  background-color: #d027c3;
  border-radius: 3px;
}

.battery span {
  font-family: 'Bungee Shade', cursive;
  font-size: 35px;
  color: #fff;
  position: relative;
  z-index: 1100;
}

.divider-lines {
  width: 40px;
  margin: 0 auto;
  height: 100vh;
}

.divider-line {
  float: left;
  width: 10px;
  margin: 0 5px;
  background-color: yellow;
  height: 100vh;
}

.hidden {
  display: none;
}

.information {
  position: absolute;
  z-index: 1000;
  top: 100px;
  right: 20px;
  max-width: 250px;
}

.onewheel {
  height: 40%;
  position: absolute;
  top: 300px;
  z-index: 1000;
}

.odometer .odo-container, .odometer h2 {
  font-family: 'Bungee Shade', cursive;
  color: #d027c3;
  font-size: 30px;
  text-align: center;
}

.title-container {
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 20px;
  max-width: 300px;
}

.road {
  background-color: #DBD9D9;
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}
